// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py

// Color configuration
$pageBgColor = #ffffff
$navBgColor = darken($pageBgColor, 5%)
$codeBgColor = #282c34
$borderColor = #eaecef
$accentColor = #a552a7
$textColor = #2c3e50
$arrowBgColor = lighten($textColor, 80%)

// Layout configuration
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px